<form method="post" action="{{ path('app_paquet_delete', {'id': paquet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paquet.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
