{% extends 'base.html.twig' %}
{% block title %}Edit Paquet{% endblock %}

{% block body %}
    <h1>Edit Paquet</h1>

    {{ include('paquet/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('paquet/_delete_form.html.twig') }}
    
    <a href="{{ path('app_paquet_index') }}">back to list</a>
{% endblock %}