{% extends 'base.html.twig' %}

{% block title %}New Paquet{% endblock %}

{% block body %}
    <h1>Create new Paquet</h1>

    {{ include('paquet/_form.html.twig') }}

    <a href="{{ path('app_paquet_index') }}">back to list</a>
{% endblock %}
